
    <div class="tree-demo-app">

      <div class="tree-container tree-container--with-controls">
        <div class="tree-info">
          <p class="tree-title">Directory/File structure</p>
          <p class="notice">this tree has advanced configurations</p>
        </div>
        <div class="tree-content">
          <tree #treeFFS
                [tree]="ffs"
                (nodeRemoved)="onNodeRemoved($event)"
                (nodeRenamed)="onNodeRenamed($event)"
                (nodeSelected)="onNodeSelected($event)"
                (nodeMoved)="onNodeMoved($event)"
                (nodeCreated)="onNodeFFSCreated($event)"
                (nodeExpanded)="onNodeExpanded($event)"
                (nodeCollapsed)="onNodeCollapsed($event)">
          </tree>
        </div>

        <div class="tree-controlls">
          <p class="notice">Tree API exposed via TreeController</p>
          <button button (click)="handleActionOnFFS(13, 'select')">Select 'boot' node</button>
          <button button (click)="handleActionOnFFS(2, 'collapse')">Collapse 'bin' node</button>
          <button button (click)="handleActionOnFFS(2, 'expand')">Expand 'bin' node</button>
          <button button (click)="renameFFS(21)">Rename 'unicode.pf2' to 'unicode.pf'</button>
          <button button (click)="handleActionOnFFS(12, 'remove')">Remove 'nano'</button>
          <button button (click)="handleActionOnFFS(52, 'reloadChildren')">Reload Music's children</button>
          <button button (click)="setChildrenFFS(36)">Set 'etc' children</button>
          <button button (click)="addChildFFS(2, { value: 'ping'})">Add a child with name 'ping' to 'bin'</button>
          <button button (click)="addChildFFS(22, { value: 'lost'})">Add a child with name 'lost' to 'lost+found'
          </button>
          <button button (click)="addChildFFS(22, { value: 'found', children: []})">Add a child with name 'found' to
            'lost+found'
          </button>
          <button button (click)="addChildFFS(36, { value: 'found', children: []})">Add a child with name 'found' to
            'etc'
          </button>
          <button button (click)="addChildFFS(78, { value: 'Voodo People'})">Add a child with name 'Voodo People' to
            '2Cellos'
          </button>
        </div>
      </div>

    </div>
